# This is a sample of the private/secret environment variables
# Copy this file and rename to .env before adding actual values

# For passwords, avoid any special characters.  Stick to a-z A-Z 0-9 _ - @
# and just make it long (at least 32 characters)

# SECRETS_PASSWORD is a password used to encrypt secret files and also the IOS keychain
SECRETS_PASSWORD=XXXXX12345

# IOS related secrets
IOS_CERT_P12_PASSWORD=XXXXX12345
# The account used to upload the IPA (an email address)
IOS_UPLOAD_USER=XXXXX
# This is an app specific password linked to the user account above 
IOS_UPLOAD_PASSWORD=XXXXX

# Android related secrets
ANDROID_UPLOAD_KEY_BASE64=XXXXXXXXXXXXXXXXXX
ANDROID_KEYSTORE_PASSWORD=XXXXX12345
ANDROID_UPLOAD_JSON_BASE64=XXXXXXXXXXXXXXXXXX

# For sending slack message with attachment
SLACK_CHANNEL=XXXXXXXXXXX
SLACK_TOKEN=xoxb-XXXXXXXXXX-XXXXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXX


# either prod or uat
# This should be set via the CD/CI pipeline scripts or yaml file, NOT in the environment variables
# Note: For this project uat, staging or dev all point to the same environment
FLAVOR=uat